<h1><%= name %> Post</h1>
<hr/>
<%= form_for(@post, :html => {id: "post-form", class: 'form-horizontal'}) do |f| %>
  <% @post.errors.full_messages.each do |message| %>
    <div class="error">
    * <%= message %>
    </div>
  <% end %>
  <div class="form-group">
    <label for="inputTitulo" class="col-sm-2 control-label">Título</label>
    <div class="col-sm-10">
      <%= f.text_field :title, placeholder: "Título", class: "form-control", id: "inputTitulo" %>
    </div>
  </div>
  <div class="form-group">
    <label for="portada" class="col-sm-2 control-label">Portada</label>
    <div class="col-sm-10">
      <%= f.file_field :cover %>
    </div>
  </div>
  <div class="form-group">
    <label for="txtAreaContenido" class="col-sm-2 control-label">Contenido</label>
    <div class="col-sm-10">
      <%= f.hidden_field :body, id: "body-textarea" %>
      <%= f.hidden_field :markup_body, id: "markup-body-textarea" %>
      <div id="epiceditor" style="height: 250px;"></div>
    </div>
  </div>
  <div class="form-group">
    <label for="categorias" class="col-sm-2 control-label">Categorías</label>
    <div class="col-sm-10">
      <% @categories.each do |category| %>
        <%= check_box_tag "categories[]", category.id %> <%= category.name %> <br>
      <% end %>
    </div>
  </div
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </div>
<% end %>

<script>
  var editor = new EpicEditor({
    textarea: "markup-body-textarea",
    file: {
      name: "nuevo_post"
    }
  });

  editor.load();

  $("#post-form").on("submit", function(){
    $("#body-textarea").val(editor.exportFile("nuevo_post", "html"));
    $("#markup-body-textarea").val(editor.exportFile("nuevo_post"));
  });
</script>