<div class="blog-post">
  <h2 class="blog-post-title"><%= @post.title %></h2>
  
  <% unless @post.user.nil? %>
  <p>Por: <%= @post.user.email %></p>
  <% end %>

  <div>
  <% @post.categories.each do |category| %>
    <%= link_to category.name, category, style: "color: #{category.color};" %>
  <% end %>
  <div>

  <% unless @post.cover.url.eql? "/covers/original/missing.png" %>
    <div>
      <%= image_tag @post.cover.url(:thumb) %>
    </div>
  <% end %>
  
  <%= @post.body.html_safe %>
</div>

<% if user_signed_in? %>
  <div>
    <h3>Comentarios</h3>
    <%= render "comments/form" %>
    <ul id="comments-box">
    	<% @post.comments.each do |comment| %>
    	<li><%= comment.body %> - <%= comment.user.email %></li>
    	<% end %>
    </ul>
  </div>

  <div>
  <%= link_to "Editar", edit_post_path(@post) %>
  </div>
<% end %>