<h1><%= @category.name %></h1>
<hr/>

<% @category.posts.each do |post| %>
  
  <% if post.state.eql? "published" %>
    <div class="blog-post">
      <h2 class="blog-post-title"><%= link_to post.title, post, class: "post-title" %></h2>
      <%= post.body.html_safe %> 

      <% if user_signed_in? && current_user.is_admin? && post.may_unpublish? %>
       - <%= link_to "Ocultar", "/posts/#{post.id}/unpublish", class: "blue", method: :put %> 
      <% end %>

    </div>
  <% end %>
  
<% end %>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_category_path(@category) %> |
  <%= link_to 'Back', categories_path %>
<% end %>